.main_button {
  position: relative;
  padding: 12px 20px;
  border: 0;
  outline: 0;
  border-radius: 7px;
  background: linear-gradient(to right, #4965b2 50%, #6990ff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.4s ease, color 0.4s ease;
  position: relative;
  .button_text {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  .arrow {
    position: absolute;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    transform-origin: left;
    top: 35%;
    left: -12px;
    margin-top: -5px;
    transition: all 0.4s ease;
    opacity: 0;
  }

  &:hover {
    background-position: left bottom;
    color: #fff;
  }

  &:hover {
    .arrow {
      background: linear-gradient(to left bottom, #fff 50%, transparent 50%);
      transform: rotate(45deg);
      z-index: 2;
      transition-delay: .2s;
      opacity: 1;
      left: -6px;
      &::before {
        content: "";
        border: solid #6990ff;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        position: absolute;
        right: 2px;
        top: 2px;
      }
    }
  }

  @media (max-width: 576px) {
    padding: 8px 15px;
    .button_text{
      font-size: 12px;
    }
  }
}
