.scrollAnimation {
  width: 100%;
  opacity: 0;
  transform: translateX(-30%);
  transition: all 1.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  &.animated {
    opacity: 1;
    transform: translateX(0);
  }
}
