.scrollAnimation {
  opacity: 0;
  transform: translate3d(35px, 0, 0);
  animation-duration: 1s;
  animation-delay: 1s;
  transition: all 1.5s ease-out;

  &.animated {
    opacity: 1;
    transform: translateX(0);
  }
}
