.spinner_component {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .custom_spinner {
    position: relative;
    width: 115px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner_circle {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 50px;
      }
    }
    .rotating_border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #6991ff50;
      border-top: 3px solid #6990ff;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
