#hero_section {
  background-image: url("../../../../assets/images/home/hero-section/hero_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 80px 0;
  margin-top: 73px;
  .hero_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    .hero_text {
      width: 45%;
      .hero_first_title {
        font-weight: 400;
        font-size: 16px;
        color: #47c4c0;
      }
      .hero_title {
        margin: 8px 0;
        font-weight: 800;
        font-size: 80px;
        line-height: 84px;
        font-family: 'Poppins', sans-serif;
      }
      .hero_subtitle {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 1.5em;
      }
    }
    .hero_image {
      width: 550px;
      height: 550px;
      background-image: url("../../../../assets/images/home/hero-section/hero_img_bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 10px;
      img {
        width: 94%;
        height: 100%;
        object-fit: cover;
      }
    }
    .hero_btn{
      width: 180px;
    }
  }
  .hero_shapes {
    .shape_1 {
      position: absolute;
      left: 5%;
      top: 62.5%;
      animation: animo-x 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
    .shape_2 {
      position: absolute;
      left: 30%;
      top: 80%;
      animation: animo-y 6s cubic-bezier(0.25, 0, 0.2, 1) infinite;
    }
    .shape_3 {
      position: absolute;
      left: 40%;
      top: 20%;
      animation: swing-anim 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
    .shape_4 {
      position: absolute;
      left: 50%;
      top: 50%;
      animation: particalAnimation 9s alternate infinite linear;
    }
    .shape_5 {
      position: absolute;
      left: 90%;
      top: 5%;
      animation: semi-rotate-anim 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
    .shape_6 {
      position: absolute;
      left: 90%;
      top: 75%;
      animation: up-down-anim 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
  }
  @media (max-width: 1200px) {
    .hero_section {
      .hero_image {
        width: 510px;
        height: 510px;
      }
    }
  }
  @media (max-width: 1124px) {
    .hero_section {
      .hero_image {
        width: 455px;
        height: 455px;
      }
    }
  }
  @media (max-width: 993px) {
    padding: 50px 0;
    .hero_section {
      flex-direction: column;
      row-gap: 30px;
      .hero_text {
        width: 100%;
        .hero_title {
          font-size: 42px;
          line-height: 46px;
        }
        .hero_subtitle {
          margin-bottom: 20px;
        }
      }
      .hero_image {
        width: 400px;
        height: 400px;
      }
    }
    .hero_shapes {
      .shape_1 {
        top: 38%;
      }
      .shape_2 {
        left: 12%;
      }
      .shape_3 {
        left: 77%;
        top: 12%;
      }
      .shape_4 {
        left: 16%;
      }
      .shape_5 {
        top: 50%;
      }
      .shape_6 {
        left: 78%;
      }
    }
  }
  @media (max-width: 768px) {
    .hero_shapes {
      .shape_1 {
        top: 42%;
      }
      .shape_2 {
        left: 4%;
        top: 86%;
      }
      .shape_3 {
        left: 84%;
        top: 9%;
      }
      .shape_4 {
        left: 5%;
        top: 60%;
      }
    }
  }
  @media (max-width: 576px) {
    margin-top: 40px;
    .hero_section {
      .hero_text {
        .hero_first_title {
          font-size: 14px;
        }
        .hero_title {
          font-size: 35px;
          line-height: 38px;
        }
        .hero_subtitle {
          font-size: 16px;
        }
      }
      .hero_image {
        width: 300px;
        height: 300px;
      }
    }
    .hero_shapes {
      .shape_1{
        top: 33%;
        left: 54%;
      }
      .shape_2 {
        left: 3%;
        top: 87%;
        img{
          width: 40px;
        }
      }
      .shape_3 {
        left: 85%;
        top: 20%;
      }
      .shape_4 {
        top: 36%;
        left: 0%;
      }
      .shape_6 {
        top: 83%;
        left: 80%;
        img{
          width: 50px;
        }
      }
    }
  }
}

@keyframes animo-x {
  50% {
    transform: translateX(50px);
  }
}

@keyframes animo-y {
  50% {
    transform: translateY(15px);
  }
}

@keyframes swing-anim {
  65% {
    transform: translateY(-50px) rotate(-75deg);
  }
}

@keyframes particalAnimation {
  50% {
    transform: translate(20px, 100px);
  }
}

@keyframes semi-rotate-anim {
  50% {
    transform: translateY(25px) rotate(-55deg);
  }
}

@keyframes up-down-anim {
  40% {
    transform: translateY(40px) rotate(-1deg);
  }
}
