#header {
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navlinks {
      .navlink_lists {
        display: flex;
        align-items: center;
        column-gap: 20px;
      }
    }
    .login_start {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
  }
}
