#header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 222;
  background: #fff;
  width: 100%;
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navlinks {
      .navlink_lists {
        display: flex;
        align-items: center;
        column-gap: 40px;
        .nav_list {
          .link {
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            transition: color 0.4s ease;
            &:hover {
              color: #6990ff;
            }
          }
        }
      }
    }
    .login_start {
      display: flex;
      align-items: center;
      column-gap: 20px;
      .login {
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        transition: color 0.4s ease;
        cursor: pointer;
        &:hover {
          color: #6990ff;
        }
      }
      .contact_btn {
        background: linear-gradient(to right, #398c89 50%, #52c8c4 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        &:hover {
          background-position: left bottom;
        }
      }
    }
  }
}
