// for all
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

// fonts
// poppins
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Thin.ttf") format("opentype");
  font-weight: 300;
}

// inters
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter_18pt-ExtraBold.ttf") format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter_18pt-Bold.ttf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter_18pt-SemiBold.ttf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter_18pt-Medium.ttf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter_18pt-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter_18pt-Thin.ttf") format("opentype");
  font-weight: 300;
}


html,
body {
  height: 100%;
  min-width: 340px;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  overflow-x: hidden;
}
input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
}
button {
  font-family: "Inter", sans-serif;
  font-size: inherit;
  cursor: pointer;
  background-color: inherit;
}
a{
  cursor: pointer;
}
